body{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

header{
	background-image: url('../images/life/life_cover.jpg');
	background-color: gray;
	width: auto;
	height: auto;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
	background-position: center;
	display: grid;
	grid-template-rows: 400px;
	grid-template-columns: auto auto;
}

nav {
	grid-row: 1 / span 1;
	grid-column: 1 / span 3;
	justify-self: center;
	padding-top: 15px;
}

li {
	display: inline-block;
}

li a{
	color: black;
	text-decoration: none;
	padding: 5px;
}
	

li a:focus{
	border: 2px solid black;
}

li a:hover{
	 color: blue;
}

#life {
	-webkit-text-decoration: black double underline;
	text-decoration: black double underline;
}

.skiptomain a{
	background-image: url('../images/life/life_cover.jpg');
	color: black;
 	padding: 10px;
 	-webkit-transition: top 1s ease-out;
 	transition: top 1s ease-out;
 	z-index: 30;
  	position: absolute;  	
  	top: -40px;
}

.skiptomain a:focus {
   position: absolute;
   top: 0;
 }

 h1{
 	font-size: 25px;
 	color: black;
 	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	justify-self: center;
	padding-top: 100px;
	padding-left: 10px;
 }

h2{
	margin-top: 30px;
	text-align: center;
	padding-bottom: 20px;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

.pictures{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pictures img{
	padding-top: 10px;
}

.pictures img:hover{
	transform: scale(1.05);
	-webkit-filter: grayscale(0.8);
	filter: grayscale(0.8);
}

footer{
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: auto auto auto;
	margin: 20px;
}

.social_media{
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	justify-self: center;
	align-self: center;
}

.social_media img{
	transition: all 1s ease;
	padding: 10px;
}

.social_media img:hover{
	-webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

@media (prefers-reduced-motion: reduce) {
  
  .social_media img{
    transition: none;
  }
}

@media all and (min-width: 750px){

	header {
		display: grid;
		grid-template-rows: 600px;
		grid-template-columns: auto auto;
	}

	nav {
		grid-row: 1 / span 1;
		grid-column: 2/ span 1;
		justify-self: right;
		padding-top: 20px;
		padding-right: 30px;
	}

	li {
		padding-right: 15px;
	}

	li a{
		padding: 10px;
	}

	h1{
		grid-row: 1 / span 1;
		grid-column: 1/ span 1;
		justify-self: left;
		padding-top: 120px;
		padding-left: 100px;
		font-size: 30px;
	}

	.pictures{
		align-items: flex-start;
	}

	#epic1, #epic3, #cpic1, #cpic3, #lpic1, #lpic3, #spic1, #spic3{
		padding-right: 10px;
	}
}

@media all and (min-width: 1200px){
	

	header {
		display: grid;
		grid-template-rows: 600px;
		grid-template-columns: auto auto;
	}

	nav {
		grid-row: 1 / span 1;
		grid-column: 1/ span 1;
		justify-self: left;
		padding-top: 20px;
		padding-right: 30px;
	}

	li{
		padding-left: 15px;
	}

	li a{
		padding: 15px;
	}

	h1{
		grid-row: 1 / span 1;
		grid-column: 2/ span 1;
		justify-self: right;
		padding-top: 150px;
		padding-right: 120px;
		font-size: 35px;
	}

	#epic2, #epic4, #cpic2, #cpic4, #lpic2, #lpic4, #spic2, #spic4{
		padding-right: 10px;
	}
}






