body{
	font-family: 'Open Sans', sans-serif;;
	font-size: 18px;
	color: black;
}

header{
	background-image: url('../images/hobbies/work3.jpg');
	background-color: black;
	background-repeat: no-repeat;
  	background-size: cover;
	display: grid;
	grid-template-rows: 400px;
	grid-template-columns: auto auto auto;
}

nav {
	grid-row: 1 / span 1;
	grid-column: 1 / span 3;
	justify-self: center;
	padding-top: 15px;
}


li {
	display: inline-block;
}

li a{
	color: white;
	text-decoration: none;
	padding: 5px;
}
	

li a:focus{
	border: 2px solid black;
}

li a:hover{
	 color: lightblue;
}

#work{
	-webkit-text-decoration: white double underline;
	 text-decoration: white double underline;
}

.skiptomain a{
	background-image: url('../images/hobbies/work3.jpg');
	background-color: black;
	color: white;
	text-decoration: none;
 	padding: 10px;
 	-webkit-transition: top 1s ease-out;
 	transition: top 1s ease-out;
 	z-index: 30;
  	position: absolute;  	
  	top: -40px;
}

.skiptomain a:focus {
   position: absolute;
   top: 0;
 }

 h1{
 	font-size: 25px;
 	color: white;
 	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	justify-self: center;
	padding-top: 230px;
	padding-left: 20px;
 }

 #main_content{
 	padding: 30px;
 }

h2{
	margin-top: 30px;
	text-align: center;
	padding-bottom: 20px;
}

#contact{
	display: grid;
	grid-template-rows: 100px 250px;
	grid-template-columns: auto;
	justify-items: center;
	align-items: center;

}

button{
	height: 40px;
	width: 125px;
	color: black;
	font-size: 16px;
	background-color: white;
	border: 2px solid red;
	border-radius: 15px;
}

button:hover{
	background-color: red;
}

form {
	margin-top: 30px;
	padding: 15px;
	border: 1px solid gray;
	border-radius: 15px;
}

form p{
	text-align: center;
}

input[type=text], input, textarea{
	width:100%;
}

input[type=submit]{
	width: 100%;
	font-size: 18px;
}

input[type=submit]:hover{
	background-color: red;
}

footer{
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: auto auto auto;
	margin: 20px;
}

.social_media{
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	justify-self: center;
	align-self: center;
}

.social_media img{
	transition: all 1s ease;
	padding: 10px;
}

.social_media img:hover{
	-webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

@media (prefers-reduced-motion: reduce) {
  
  .social_media img{
    transition: none;
  }
}

@media all and (min-width: 750px){

	header {
		background-attachment: fixed;
		background-position: center;
		display: grid;
		grid-template-rows: 600px;
		grid-template-columns: auto auto;
	}

	nav {
		grid-row: 1 / span 1;
		grid-column: 2/ span 1;
		justify-self: right;
		padding-top: 20px;
		padding-right: 30px;
	}

	li {
		padding-right: 15px;
	}

	li a{
		padding: 10px;
	}

	h1{
		grid-row: 1 / span 1;
		grid-column: 1/ span 1;
		justify-self: left;
		padding-top: 350px;
		padding-left: 100px;
		font-size: 30px;
	}

	#contact{
		display: grid;
		grid-template-rows: 250px;
		grid-template-columns: 50% 50%;
		justify-items: center;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 50px;
	}
}

@media all and (min-width: 1200px){
	

	header {
		display: grid;
		grid-template-rows: 600px;
		grid-template-columns: auto auto;
	}

	nav {
		grid-row: 1 / span 1;
		grid-column: 1/ span 1;
		justify-self: left;
		padding-top: 20px;
		padding-right: 30px;
	}

	li{
		padding-left: 15px;
	}

	li a{
		padding: 15px;
	}

	h1{
		font-size: 35px;
	}
}

